body{
    background-color: aqua;
}

#score_span
{
    font-size: medium;
    margin: left ;
}

#timer_span
{
    font-size: medium;
    float: right;
}

#label
{
    color: black;
}